<div class="row">
  <% @listings.each do |listing| %>
    <div class="col-md-3">
      <div class="thumbnail">
        
        <div class="caption center">
          <h3>
            <%= listing.name %>
          </h3>
          <p>
            <%= listing.description %>
          </p>
          <p>
            <%= number_to_currency(listing.price) %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>
<br>

